@import 'tailwindcss';
@import 'uploadthing/tw/v4';
@source "../node_modules/@uploadthing/svelte/dist/";

@custom-variant dark (@media (prefers-color-scheme: dark) {
		&:not(.light *)
	}

	, &:is(.dark *));

@theme {
	--color-text: var(--text);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
}

@layer base {
	@media (prefers-color-scheme: dark) {
		:root {
			--text: #d9f8eb;
			--background: #020906;
			--foreground: #0d0f0e;
			--primary: #8de8bd;
			--secondary: #1a5584;
			--accent: #4874db;
		}
	}

	@media (prefers-color-scheme: light) {
		:root {
			--text: #07271a;
			--background: #f7fdfa;
			--foreground: lightgray;
			--primary: #177248;
			--secondary: #7bb5e5;
			--accent: #2450b7;
		}
	}

	a {
		text-decoration: underline;
		color: var(--primary);
	}

	button,
	input[type='submit'] {
		cursor: pointer;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
		box-sizing: border-box;
	}
}

*.light {
	--text: #07271a;
	--background: #f7fdfa;
	--primary: #17b2a8;
	--secondary: #7bb5e5;
	--accent: #2450b7;
	--foreground: lightgray;
}

*.dark {
	--text: #d9f8eb;
	--background: #020906;
	--foreground: #0f0f0f;
	--primary: #8de8bd;
	--secondary: #1a5584;
	--accent: #4874db;
}
